.nav-bar{
    flex: 1;
    flex-direction: row;
    background-color:black;
    font-size: larger;
    font-family:"American Typewriter", serif;
    color:azure;
    text-align: left;
    height: 70px;
    margin: none;
    border: none;
    padding: 10px;
    padding-left: 20px;
    display: flex;

}
body{
    margin: 0;
    background-color: whitesmoke;
}